# Node modules should not be copied into image
node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
.git
*.md


# System-specific files
.DS_Store
Thumbs.db

# Ignore data if it’s large or secret (optional)
# data/
