/* File: src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter-Bold.woff') format('woff');
}
@layer base {
  body {
    @apply bg-black to-white;
  }
}
@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-left-to-right {
  animation: marquee-left-to-right 15s linear infinite;
}

.animate-marquee-right-to-left {
  animation: marquee-right-to-left 15s linear infinite;
}
